# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (user uploaded)
media/

# Static collected files
staticfiles/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Distribution
dist/
build/
*.egg-info/
